{% extends "base.html" %}

{% block content %}
    <h1>Select Model and Image</h1>
    <form method="post" novalidate>
        <div class="form-group">
            <label for="model_id"><strong>Model:</strong></label>
            <select class="form-control" id="model_id" name="model_id">
                {% for model in models %}
                  <option value="{{ model }}" selected>{{ model }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="image_id"><strong>Image:</strong></label>
            <select class="form-control" id="image_id" name="image_id">
                {% for image in images %}
                  <option value="{{ image }}" selected>{{ image }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-dark mb-2">Submit</button>
    </form>
{% endblock %}
